$mockup_width_px: 750px !default;      //PSD设计图模版宽度
$mockup_width: 750 !default;           //PSD设计图模版宽度
$mockup_min_width_px: 320px !default;  //支持设备最小宽度
$mockup_min_width: 320 !default;       //支持设备最小宽度

/*颜色*/
$white: #fff;
$black: #000;
$grey_1: #eeeeee;
$grey_2: #666;
$grey_3: #333;
$grey_4: #aaa;
$grey_5: #bbb;
$grey_6:#F4F4F4;
$green_1: #52e1b6;
$green_2:#7efad5;
$green_3:#75e7c5;
$blue_1: #337AB7;
$blue_2: #abd0ff;
$blue_3: #70aefc;
$red_1: #fe8b8b;
$red_2:#ff1111;
$red_3:#ff5252;
$red_4:#ff4242;
$red_5:#ff4747;
$yellow_1:#ffe59e;
$yellow_2: #ffca39;
$yellow_3:#fcd363;